<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
    </head>
    <body>
        <h1>login page</h1>
        <div id="showLogin">
            <form action="/login" method="post">
                Group ID : <input type="text" name="groupID"><br/>
                Patient ID : <input type="text" name="patientID">
                <input value="로그인" type="submit"/>
            </form>
        </div>

        <table border="1">
            <th>GroupID</th>
            <th>PatientID</th>
            <tr>
                <td>yong</td>
                <td>pinpin001</td>
            </tr>
            <tr>
                <td>choistec</td>
                <td>song02, song03, am04</td>
            </tr>
            <tr>
                <td>chois002</td>
                <td>k001, k004, k005, k006</td>
            </tr>
            <tr>
                <td>chois006</td>
                <td>Thermo60647, Thermo68065</td>
            </tr>
        </table>
    </body>
</html>